<nav class="app-nav">  
    <a aria-label="Cognizant Outreach" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false" target="_blank" href="https://www.cognizant.com/">
      <span class="mat-button-wrapper">
        <img alt="brand" src="../assets/brand-logo.png">           
      </span>    
    </a>           
    <div class="flex-spacer"></div>
    <a aria-label="Cognizant Outreach" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false"  target="_blank" href="https://be.cognizant.com/">
      <span class="mat-button-wrapper">
        <img alt="outreach" src="../assets/becog-logo.png">            
      </span>    
    </a>                      
  </nav>
