.carousel-inner img {
    width: 100%;
}

/* Responsiveness definition */
@media only screen and (max-width: 1440px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.1em;
    }
    .thump-up {
        font-size: 26px;
    }       
}

/* Responsiveness definition */
@media only screen and (max-width: 1366px) {
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1em;
    }
    .thump-up {
        font-size: 24px;
    }       
}
